<template>
  <div class="create-criminal">
    <section-block title="Create Criminal">
      <form @submit.prevent='handleSubmit'>
        <div class='form-block'>
          <label for='name'>
            Criminal Name
          </label>
          <input id='name' v-model='name'/>
        </div>
        <div class='form-block'>
          <div v-for='criminalAction in crimes' :key='criminalAction'>
            <input :id='criminalAction' type='radio' v-model='crime' name='criminal-action' :value='criminalAction' />
            <label :for='criminalAction'>
              {{ criminalAction }}
            </label>
          </div>
        </div>
        <div class='form-block'>
          <button type='submit' class='btn'>
            Submit
          </button>
        </div>
      </form>
    </section-block>
  </div>
</template>

<script>
import SectionBlock from "../../components/section.vue"
import randomWookieName from '../../random-name.js'
import { addCriminal } from '../../api.js'
import { uniqueId } from 'lodash'

export default {
  name: "create-criminal",
  data: function () {
    return {
      crimes: ['smuggler', 'rebel', 'jedi', 'escaped slave', 'other'],
      name: `${randomWookieName()}`,
      crime: 'other',
    }
  },
  props: {
  },
  methods: {
    handleSubmit: function() {
      const criminal = {id: uniqueId('something_'), name: this.name, crime: this.crime}
      addCriminal(criminal)
    }
  },
  components: {
    "section-block": SectionBlock,
  },
}
</script>

<style scoped>

.create-criminal {
  font-size: 1.4rem;
  line-height: 1.9;
  color: var(--white);
  text-shadow: 0 0 0.625em var(--white), 0 0 1.5625em var(--white), -0.0625em 0 0.125em rgba(0, 0, 0, 0.5);
}

.form-block {
  margin-bottom: 1em;
}
</style>
