<template>
  <div class="criminal-list">
    <ul>
      <li :key="criminal.id" v-for="criminal in criminals">
        {{ criminal.name }}
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: "criminal-list",
  props: {
    criminals: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
}
</script>
