<template>
  <div class="existing-criminals">
    <section-block title="existing-criminals">
      <Loader v-if="loadingCriminals" />
      <criminal-list v-else :criminals="entries" />
    </section-block>
  </div>
</template>

<script>
import SectionBlock from "../../components/section.vue"
import CriminalList from "./criminal-list.vue"
import Loader from '../../components/loader.vue'
export default {
  name: "existing-criminals",
  props: {
    loadingCriminals: Boolean,
    entries: {
      type: Array,
      default: () => {
        return []
      },
    },
  },
  components: {
    "section-block": SectionBlock,
    "criminal-list": CriminalList,
    Loader,
  },
}
</script>
