<template>
  <div id="language-switcher">
    <button v-on:click="$emit('change-language')" class="btn" v-bind:class="[isAuretech ? 'english' : 'aurebesh']">
      {{ isAuretech ? "English" : "Aurebesh" }}
    </button>
  </div>
</template>

<script>
export default {
  name: "language-switcher",
  props: {
    isAuretech: Boolean,
  },
}
</script>

<style scoped>
#language-switcher {
  position: absolute;
  top: 0;
  margin-left: 0.25em;
  margin-top: 0.25em;
}
</style>
