<template>
  <nav>
    <router-link class="main-link" :to="{ name: 'existing' }">
      Existing
    </router-link>
    <router-link class="main-link" :to="{ name: 'create-new' }">
      Create
    </router-link>
  </nav>
</template>

<script>
export default {
  name: "navigation",
}
</script>

<style scoped>
.main-link {
  font-size: 1.2em;
  color: var(--white);
  padding: 1em;
  margin: 0em 0.25em;
  border-radius: 0.5em;
}

.main-link:visited {
  color: var(--red);
}

.router-link-active {
  background-color: rgba(var(--red-rgb), 0.4);
  color: var(--white) !important;
  box-shadow: 0 0 0.625em var(--red), 0 0 1.5625em var(--red), -0.0625em 0 0.125em rgba(0, 0, 0, 0.5);
}
</style>
