<template>
  <div>
    <hr v-if="withHeader" class="border" />
    <section class="section">
      <div class="section-title">
        {{ title }}
      </div>
      <div class="section-content">
        <slot></slot>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: "section",
  props: {
    title: {
      type: String,
      default: "Hello There",
    },
    withHeader: {
      type: Boolean,
      default: true,
    },
  },
}
</script>

<style scoped>
.section-title {
  font-family: inherit;
}
</style>
