<template>
  <div id="app" :class="[auretech ? 'aurebesh' : 'english']">
    <header>
      <hr class="border" />
      <h1>Imperial database</h1>
      <Navigation />
    </header>
    <LanguageSwitcher :isAuretech="auretech" v-on:change-language="changeLanguage" />
    <router-view :loadingCriminals="loading" :entries="entries"></router-view>
  </div>
</template>

<script>
import LanguageSwitcher from "./components/language-switcher.vue"
import Navigation from "./components/nav.vue"
import { getCriminals } from './api.js'

export default {
  name: "app",
  components: {
    LanguageSwitcher,
    Navigation,
  },
  data: function() {
    return {
      auretech: true,
      loading: false,
      entries: [],
    }
  },
  mounted() {
    this.loading = true
    getCriminals().then((r) => {
      this.loading = false
      this.entries = r
    })
  },
  methods: {
    changeLanguage: function() {
      this.auretech = !this.auretech
    },
  },
}

</script>

<style>
@font-face {
  font-family: "auretech";
  src: url("https://unpkg.com/imperial-style/fonts/auretech.woff") format("woff"),
    url("https://unpkg.com/imperial-style/fonts/auretech.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

header {
  height: auto;
}

.aurebesh {
  font-family: "auretech", "sans-serif" !important;
}

.english {
  font-family: "sans-serif" !important;
}

.btn {
  color: var(--white);
  background: transparent;
  border: 2px solid var(--red);
  border-radius: 0.5em;
  text-transform: uppercase;
  box-shadow: 0 0 0.625em var(--red), 0 0 1.5625em var(--red), -0.0625em 0 0.125em rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  font-family: inherit;
}

.btn:hover,
.btn:focus {
  outline: none;
  background: var(--red);
}

#app {
  margin-top: 1em;
  color: var(--white);
}
</style>
